body {
    background-image: url("Elefant.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
}


/* MENU */

ul {
    font-family: cursive;
    font-size: 29px;
    list-style: none;
    background-color: #8f4f14;
    height: 49px;
    padding: 0;
    margin: 10px 1192px 20px 10px;
}

a {
    color: #fff;
    text-decoration: none;
    line-height: 49px;
    padding: 0 27px;
    border-right: 2px solid #06f;
    display: block;
}

a:hover {
    background-color: #f0ad6e;
}

li {
    float: left;
}


/* Text */

.text {
    font-family: Georgia, serif;
    font-size: 26px;
    font-weight: 700;
    width: 191vh;
    color: orange;
    margin: 0vh auto;
}


/*buton*/

.back-to-top {
    position: fixed;
    right: 35px;
    bottom: 40px;
    width: 25px;
    height: 55px;
    border-color: transparent;
    border-radius: 60%;
    background-color: #ab9a03;
}

.back-to-top: hover,
.back-to-top: focus {
    filter: brightness(1.5);
    outline: none;
}

.back-to-top:: before,
.back-to-top::after {
    content: '';
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.back-to-top::before {
    width: 5px;
    height: 25px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #f5f0f6;
}

.back-to-top::after {
    width: 15px;
    height: 15px;
    transform: translate(-50%, -50%) rotate(45deg);
    border-top: 5px solid #f5f0f6;
    border-left: 5px solid #f5f0f6;
}
